* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
	height: 100%;
	background-color: #f2f2f2;

/* 	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed; 
	padding-top: 1.5rem;*/
}

h1 {
    text-align: center;
    color: red;
}