#map {
	top: 0;
	left: 0;
    height: 100vh;
    width: 100%;
}

.map-icon-label {
    position: absolute;
}

.map-icon-label .map-icon {
	font-size: 24px;
	color: #949FA0;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}

