@import url('https://fonts.googleapis.com/css?family=Roboto');

.para, .title {
    font-family: 'Roboto';
}

.divBtn {
    text-decoration: none;
	cursor: pointer;

	a:hover {
		background-color: pink;
	}
}