.site {
    top: 0;
    left: 0;
    position: absolute;
    background-color: red;
    border: 5px solid blue;
    width: 30%;
    height: auto;
    z-index: 1;
    visibility: hidden;
    //text-align: center;
    margin: 200px 140px 175px 0px;
    padding : 30px;
  

    .flexit {
        width: 100%;
        display: flex;
        flex-direction: column;
       // border: 1px solid salmon;
    }

    #weatherDiv {
        width: 50%;
        border: 1px solid green;

        .img {
            width: 24px;
            height: 24px;
        }
    }

    #forecastDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .img {
            width: 24px;
            height: 24px;
        }

    }

    .btnDiv {
        border: 1px solid red;

        .backBtn {
            cursor: pointer;
        }
    }
    

}


