.site {
    top: 0;
    left: 0;
    position: absolute;
    /* background-color: #2b2b2b; */
    background: rgb(43, 43, 43); 
    background: rgba(43, 43, 43, .5); 
    border: 2px solid white;
    border-radius: 10px;
    width: 47%;
    height: auto;
    z-index: 1;
    display: none;
    margin: 80px 140px 175px 70px;;
    color: white;
   
    .flexme {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



    .flexit {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
       // border: 1px solid green;
    }

    #weatherDiv {
        width: 100%;
        height: 200px;
        margin: 5px 0 0 5px;
        //border: 1px solid green;
        font-weight: 200;

        .wDiv {
            width: 100%;
            height: 200px;
            //border: 1px solid red;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //align-items: center;

            .wLeft {
                padding-top: 20px;
                padding-left: 30px;
                width: 50%;
                //border: 1px solid white;
            }

            .wRight {
                //border: 1px solid yellow;
                display: flex;
                flex-direction: column;
                justify-self: flex-end;
                align-self: flex-end;
                padding-bottom: 20px;
                margin: 0 150px 0 0;
            }
        }
        .img {
            width: 24px;
            height: 24px;
        }
    }

    .btnDiv {
        //border: 1px solid white;
        width: 80px;
        border-radius: 5px;
        color: white;
        margin-top: 4px;
        margin-right: 4px;

        .backBtn {
            font-size: 20px;
            float: right;
            
            cursor: pointer;
        }
    }

    #forecastDiv {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //border: 1px solid red;
        margin: 0 10px 10px 10px;

        .siteDiv {
            margin-right: 2px;
        }

        .img {
            max-width: 100%;
            width: 24px;
            height: 24px;
        }

    }

    #dropDown {
        margin: 5px 0 5px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Roboto';

        #selectCity {
            background: rgb(43, 43, 43); 
            background: rgba(43, 43, 43, .5); 
            border-radius: 10px;
            width: 150px;
            color: white; 

            option {
                font-family: 'Roboto';
                background-color: #2b2b2b;
            }
        }
    }

}


